{
    "input": {
        "nodes": 3,
        "functions": [
            "lambda x: states[:, 0]",
            "lambda x: states[:, 1]",
            "lambda x: states[:, 2]"
        ],
        "length": 4000
    },
    "reservoir": {
        "start_node": 1000,
        "end_node": 1000,
        "step": 1,
        "degree_function": "lambda x: np.sqrt(x)",
        "sigma": 0.5,
        "bias": 1,
        "leakage_rate": 0.3,
        "regression_parameter": 1e-06
    },
    "output": {
        "nodes": 3
    },
    "training": {
        "init": 100,
        "train": 3000,
        "test": 1000,
        "error": 100
    }
}